<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/> 
    <!--  <link rel="stylesheet" type="text/css" href="bootstrap3.4.1\css\bootstrap.min.css">     -->
      <style type="text/css">
         body {
         background-color: transparent;
         background-size: cover;
         }
         #ui {
         background-color: rgba(255, 255, 255, 0.9);
         padding: 60px;
         margin-top: 120px;
         margin-bottom: 80px;
         border-radius: 10px;
         width: 700px;
         box-shadow: 10px 10px 8px 10px #888888;
         box-align: center;
         }
         #ui label {
         color: #008B8B;
         }
         #ui h1 {
         color: #008080;
         
         font-family: Tahoma, Geneva, sans-serif;
         font-weight: bold;
         }
      </style>
      <title>Registration</title>
   </head>
   <body>
      <div class="container">
      <div class="row">
         <div class="col-lg-3"></div>
         <div class="col-lg-6">
            <div id="ui">
               <h1 class="text-center">EMPLOYEE INFORMATION FORM</h1>
               <br/><br/>
               <form class="form-group" method="POST" th:object="${Employee}" th:action="@{/detail}" onsubmit="return valid()">
                  <div class="row">
                     <div class="col-lg-4">
                        <label>First Name : </label>
                        <div class="input-group">
                           <input type="text" name="fname" id="fname_id" class="form-control"
                              placeholder="enter first name" th:field="*{first_name}" onkeyup="valid_fname()"/>
                           <span class="input-group-addon" id="fname_i"></span>
                        </div>
                        <label>
                           <div id="fname_v"></div>
                        </label>
                     </div>
                     <div class="col-lg-4">
                        <label>Last Name : </label>
                        <div class="input-group">
                           <input type="text" name="lname" id="lname_id" class="form-control"
                              placeholder="enter last name" th:field="*{last_name}" onkeyup="valid_lname()"/>
                           <span class="input-group-addon" id="lname_i"></span>
                        </div>
                        <label>
                           <div id="lname_v"></div>
                        </label>
                     </div>
                     <div class="col-lg-4">
                        <label>Date of Birth : </label>
                        <div class="input-group">
                           <input type="date" name="dob" id="dob_id" class="form-control" th:field="*{dob}"
                              onchange="valid_dob()"/>
                           <span class="input-group-addon" id="dob_i"></span>
                        </div>
                        <label>
                           <div id="dob_v"></div>
                        </label>
                     </div>
                  </div>
                  <br/>     
                  
                  <div class="row">
                     <div class="col-lg-2">
                        <label>Gender : </label>
                     
                     </div>
                     <div class="col-lg-6">
                     
                        <div class="input-group">
                           <input type="text" name="gender" id="gender_id" class="form-control"
                              placeholder="Enter Male or Female" th:field="*{sex}" onkeyup="valid_gender()"/>
                           <span class="input-group-addon" id="gender_i"></span>
                        </div>
                        
                     </div>
                     <div class="col-lg-4">
                     	<label>
                           <div id="gender_v"></div>
                        </label>
                     </div>
                  
                  
                  </div>
                  
                  
                  <br/><br/>
                  
                  
                  
                  <div class="row">
                     <div class="col-lg-4">
                        <label>Employee ID : </label>
                        <div class="input-group">
                           <input type="text" name="eid" id="eid_id" class="form-control"
                              placeholder="enter employee id" th:field="*{employee_id}" onkeyup="valid_eid()"/>
                           <span class="input-group-addon" id="eid_i"></span>
                        </div>
                        <label>
                           <div id="eid_v"></div>
                        </label>
                     </div>
                     <div class="col-lg-4">
                        <label>Unit : </label>
                        <div class="input-group">
                           <input type="text" name="unit" id="unit_id" class="form-control"
                              placeholder="enter unit" th:field="*{unit}" onkeyup="valid_unit()"/>
                           <span class="input-group-addon" id="unit_i"></span>
                        </div>
                        <label>
                           <div id="unit_v"></div>
                        </label>
                     </div>
                     <div class="col-lg-4">
                        <label>Branch : </label>
                        <div class="input-group">
                           <!--	<input type="text" name="branch" id="branch_id" class="form-control" placeholder="enter branch"/> -->
                         <!--  <select name="branch" id="branch_id" class="form-control" onchange="valid_branch()">
                              <option selected="" value="default">(select branch)</option>
                              <option value="Delhi">Delhi</option>
                              <option value="Mumbai">Mumbai</option>
                              <option value="Chennai">Chennai</option>
                              <option value="Kolkata">Kolkata</option>
                              <option value="Durgapur">Durgapur</option>
                              <option value="Bangalore">Bangalore</option>
                              <option value="Gurgaon">Gurgaon</option>
                           </select> -->
                             <input type="text" name="branch" id="branch_id" class="form-control"
                              placeholder="enter branch" th:field="*{department}" onkeyup="valid_branch()"/>
                           <span class="input-group-addon" id="branch_i"></span>
                        </div>
                        <label>
                           <div id="branch_v"></div>
                        </label>
                     </div>
                  </div>
                  <br/>
                  <div class="row">
                     <div class="col-lg-6">
                        <label>Email</label>
                        <div class="input-group">
                           <input type="text" name="email" id="email_id" class="form-control"
                              placeholder="enter your email" th:field="*{email}" onkeyup="valid_email()"/>
                           <span class="input-group-addon" id="email_i"></span>
                        </div>
                        <label>
                           <div id="email_v"></div>
                        </label>
                     </div>
                     <div class="col-lg-6">
                        <label>Designation</label>
                        <div class="input-group">
                           <input type="text" name="desg" id="desg_id" class="form-control"
                              placeholder="enter your designation" th:field="*{designation}" onkeyup="valid_des()"/>
                           <span class="input-group-addon" id="desg_i"></span>
                        </div>
                        <label>
                           <div id="desg_v"></div>
                        </label>
                     </div>
                  </div>
                  <br/>
                  <div class="row">
                     <div class="col-lg-6">
                        <label>Contact no. : </label>
                        <div class="input-group">
                           <input type="text" name="contact" id="contact_id" class="form-control"
                              placeholder="enter mobile no." th:field="*{contact_number}" onkeyup="valid_contact()"/>
                           <span class="input-group-addon" id="contact_i"></span>
                        </div>
                        <label>
                           <div id="contact_v"></div>
                        </label>
                     </div>
                     <!--	<div class="col-lg-6">
                        <label>Profile Photo (upload in jpg or png) : </label>
                        <div class="input-group">
                        <input type="file" name="pic" id="pic_id" class="form-control"/>
                        <span class="input-group-addon" id="pic_i"></span> 	 	
                        </div>
                        <label><div id="pic_v"></div></label>
                        </div>					 	
                        </div>
                        
                        
                        
                        <br/>
                        <div class="row">
                        		<div class="col-lg-6">
                        <label>Password : </label>
                        <div class="input-group">
                        <input type="password" name="pass" id="pass_id" class="form-control" placeholder="enter password"/>
                         	<span class="input-group-addon" id="pass_i"></span> 	 	
                        </div>
                        <label><div id="pass_v"></div></label>
                        </div> 					 	
                        
                        		<div class="col-lg-6">
                        <label>Confirm Password : </label>
                        <div class="input-group">
                        <input type="password" name="cpass" id="cpass_id" class="form-control" placeholder="re-enter password"/>
                         	<span class="input-group-addon" id="cpass_i"></span> 	 	
                        </div>	 
                        <label><div id="cpass_v"></div></label>
                        </div> -->					 	
                        </div>
                     <div class="row">
                        <div class="col-lg-12">
                           <label>Address</label>
                           <textarea class="form-control" rows="2" id="add" th:field="*{address}" onkeyup="valid_add()"></textarea>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12">
                           <label>
                              <div id="add_v"></div>
                           </label>
                        </div>
                     </div>
                     <br/>
                     <div class="row">
                        <div class="col-lg-6">
                           <label>City : </label>
                           <div class="input-group">
                              <input type="text" name="city" id="city_id" class="form-control"
                                 placeholder="enter city" th:field="*{city}" onkeyup="valid_city()"/>
                              <span class="input-group-addon" id="city_i"></span>
                           </div>
                           <label>
                              <div id="city_v"></div>
                           </label>
                        </div>
                        <div class="col-lg-6">
                           <label>Pin : </label>
                           <div class="input-group">
                              <input type="text" name="pin" id="pin_id" class="form-control"
                                 placeholder="enter pin" th:field="*{pin}" onkeyup="valid_pin()"/>
                              <span class="input-group-addon" id="pin_i"></span>
                           </div>
                           <label>
                              <div id="pin_v"></div>
                           </label>
                        </div>
                     </div>
                     <br/>
                     <div class="row">
                        <div class="col-lg-12">
                           <input type="submit" name="submit" value="submit" class="btn btn-primary btn-block btn-lg"/>
                        </div>
                     </div>
               </form>
               </div>
            </div>
            <div class="col-lg-3"></div>
         </div>
      </div>

 <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
 <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
 
 <script type="text/javascript" th:src="@{/js/validation1.js}"></script>        

<!--  <script type="text/javascript" src="bootstrap3.4.1\js\jquery-3.4.1.js"></script>
  <script type="text/javascript" src="bootstrap3.4.1\js\bootstrap.js"></script>
   <script type="text/javascript" src="validation.js"></script>              -->
  
   </body>
</html>